<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.username + '의 블로그'}">Blog</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <aside class="tag-list">
        <!-- 태그 목록 표시 공간 -->
        <h2>태그 목록</h2>
        <!-- 태그 목록 아이템 -->
        <ul>
            <li>전체 보기 (태그 개수)</a></li>
            <hr>
            <li><a href="#">예시 태그 (태그 개수)</a></li>
        </ul>
    </aside>
    <section class="post-section">
        <div class="nav-links">
            <ul>
                <li><a th:href="@{'/@' + ${user.username}}" class="active">글</a></li>
                <li><a href="#">시리즈</a></li>
                <li><a href="#">소개</a></li>
            </ul>
        </div>

        <div class="post-list" th:if="${posts.totalElements > 0}">
            <!-- 포스트 목록 표시 공간 (클릭 시 상세 페이지로 이동) -->
            <a th:each="post: ${posts}" th:href="@{'/@' + ${user.username} + '/' + ${post.id}}" class="post-link">
                <article class="post">
                    <div class="post-content-wrapper">
                        <h3 th:text="${post.title}">제목</h3>
                        <p class="post-content" th:if="${plainContents.get(post.id).length() > 50}" th:utext="${plainContents.get(post.id).substring(0, 50) + '...'}">내용</p>
                        <p class="post-content" th:unless="${plainContents.get(post.id).length() > 50}" th:utext="${plainContents.get(post.id)}">내용</p>
                        <!-- 태그가 있을 때만 표시 -->
                        <span class="tag" th:each="tag: ${post.tags}" th:text="${tag.name}" th:if="${post.tags.size() > 0}">태그</span>
                        <div class="post-info">
                            <span class="info" th:text="${#temporals.format(post.createAt, 'yyyy-MM-dd HH:mm')}">작성일</span>
                            <span class="info-comment" th:text="${post.comments.size() + ' 댓글 |'}" th:if="${post.comments.size() >= 0}">댓글 수</span>
                            <span class="info-like" th:text="${post.likes.size() + ' 좋아요'}" th:if="${post.likes.size() >= 0}">좋아요</span>
                            <span class="info" th:text="${post.isSecret ? '비공개' : '공개'}">공개/비공개 여부</span>
                        </div>
                    </div>
                    <div class="post-thumbnail" th:if="${post.image != null}">
                        <img th:src="@{'/images/' + ${post.image.storedName}}" alt="Post Thumbnail" class="thumbnail-image"/>
                    </div>
                </article>
            </a>
            <br>
        </div>

        <!-- 작성된 포스트가 없는 경우 -->
        <div th:if="${posts.totalElements == 0}" class="no-posts-message">
            <p>작성된 포스트가 없습니다.</p>
        </div>

        <!-- 페이징 처리 -->
        <div class="pagination" th:if="${posts != null and posts.totalPages > 0}">
            <span th:if="${posts.hasPrevious()}">
                <a th:href="@{'/@' + ${blog.name}(page=${posts.number - 1})}">이전</a>
            </span>
            <span th:each="pageNumber : ${#numbers.sequence(0, posts.totalPages - 1)}">
                <a th:href="@{'/@' + ${blog.name}(page=${pageNumber})}"
                   th:text="${pageNumber + 1}"
                   th:class="${pageNumber == posts.number} ? active"></a>
            </span>
            <span th:if="${posts.hasNext()}">
                <a th:href="@{'/@' + ${blog.name}(page=${posts.number + 1})}">다음</a>
            </span>
        </div>
    </section>
</main>

<script>
    // 화면에 출력할 때 포스트 내용의 50자만 출력
    document.addEventListener('DOMContentLoaded', function() {
        const postContents = document.querySelectorAll('.post-content');
        postContents.forEach(contentElement => {
            const div = document.createElement('div');
            div.innerHTML = contentElement.innerHTML;
            let text = div.textContent || div.innerText || '';
            text = text.replace(/\n/g, ' ').replace(/\s+/g, ' ').trim();
            text = text.length > 50 ? text.substring(0, 50) + '...' : text;
            contentElement.textContent = text;
        });
    });
</script>
<script type="text/javascript" th:src="@{/js/showProfile.js}"></script>

</body>
</html>