<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">포스트 제목</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/post.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="post-container">
    <h1 th:text="${post.title}">title</h1>

    <div class="post-details">
        <div class="details-left">
            <span th:text="${post.user.username}">작성자</span> |
            <span th:text="${#temporals.format(post.createAt, 'yyyy-MM-dd HH:mm')}">작성일</span>
        </div>
        <div class="details-right">
            <a th:href="@{'/@' + ${post.user.username} + '/' + ${post.id} + '/edit'}">수정</a>
            <a th:href="@{'/@' + ${post.user.username} + '/' + ${post.id} + '/delete'}">삭제</a>
        </div>
    </div>

    <div class="post-tags">
        <span th:each="tag: ${post.tags}" th:text="${tag.name}">태그</span>
    </div>

    <hr>
    <div th:utext="${htmlContent}" class="post-content">content</div>

<!--    <div class="post-image" th:if="${post.image}">-->
<!--        <img th:src="@{'/images/' + ${post.image}}" alt="Post Image">-->
<!--    </div>-->


    <div class="comment-section">
        <h2>댓글</h2>

        <div class="comment-list">
            <div th:each="comment: ${post.comments}" class="comment">
                <p><strong th:text="${comment.user.username}">작성자</strong></p>
                <p th:text="${comment.content}">댓글 내용</p>
                <span th:text="${#temporals.format(comment.createAt, 'yyyy-MM-dd HH:mm')}">작성일</span>
            </div>
        </div>

        <div class="comment-form" th:if="${#authentication.principal}">
            <form th:action="@{'/@' + ${username} + '/' + ${post.id} + '/comment'}" method="post">
                <textarea name="content" rows="4" placeholder="댓글을 작성하세요..." required></textarea>
                <button type="submit">댓글 작성</button>
            </form>
        </div>
    </div>
</div>

<div class="button-container">
    <a th:href="@{'/@' + ${username}}" class="button">뒤로가기</a>
</div>

<script type="text/javascript" th:src="@{/js/showProfile.js}"></script>

</body>
</html>