<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header Fragment</title>
</head>
<link rel="stylesheet" href="common.css">
<body>
<header th:fragment="header">
    <a th:href="@{/}"><h1>Blog</h1></a>
    <nav>
        <a th:unless="${session.auth_token}" th:href="@{/loginform}">Login</a>
        <div th:if="${session.auth_token}" class="profile-container">
            <img th:src="@{/profile-image}" alt="Profile Image" class="profile-icon" onclick="toggleProfileList(this)">
            <ul class="profile-list">
                <li><a th:href="@{'/@' + ${session.username}}">내 블로그</a></li>
                <li><a th:href="@{'/setting'}">내 정보</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
