<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <div class="post-list" th:if="${posts.size() <= 0}">
        <p>글을 작성한 유저가 없습니다. 글을 작성해 보세요!</p>
    </div>
    <div class="post-list" th:unless="${posts.size() <= 0}">
        <div th:each="post : ${posts}" class="post-card">
            <div th:if="${post.image != null}">
                <img th:src="@{'/images/' + ${post.image.storedName}}" alt="Post Image" class="post-image"/>
            </div>
            <h2 th:text="${post.title}">제목</h2>
            <p th:text="${#strings.abbreviate(#strings.replace(post.content, '<[^>]*>', ''), 100)}">내용 일부</p>
            <div class="post-meta">
                <span th:text="${#temporals.format(post.createAt, 'yyyy년 MM월 dd일')}">작성일</span>
                <span th:text="${post.user.username}">작성자</span>
            </div>
            <a th:href="@{'/@' + ${post.user.username} + '/' + ${post.id}}" class="read-more">읽기</a>
        </div>
    </div>

    <div class="pagination" th:if="${posts != null and totalPages > 0}">
        <a th:if="${hasPrevious}" th:href="@{/(page=${currentPage - 1})}">&laquo; 이전</a>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:if="${i != currentPage}" th:href="@{/(page=${i})}" th:text="${i + 1}"></a>
            <strong th:if="${i == currentPage}" th:text="${i + 1}"></strong>
        </span>
        <a th:if="${hasNext}" th:href="@{/(page=${currentPage + 1})}">다음 &raquo;</a>
    </div>
</main>

<script type="text/javascript" th:src="@{/js/showProfile.js}"></script>

</body>
</html>