<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>

<form th:action="@{/login}" method="post">
    <h1>Login</h1>
    <label for="username">ID:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
    <p class="error" th:if="${error}" th:text="${error}"></p>
    <a th:href="@{/userregform}">회원가입</a>
    <a th:href="@{/}">메인으로</a>
</form>
</body>
</html>